<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Type>file</Type>
  <Enabled>true</Enabled>
  <ServerUrl>http://111.230.14.84:8080/update/clientUpdate2.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="ZXClient.exe" lastver="1.0.0.6" size="6925000" />
    <LocalFile path="ZXClient.pdb" lastver="1.0.0.6" size="1634977"/>
  </UpdateFileList>
</Config>